<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pertence.cognic">

    <application
        android:allowBackup="false"
        android:icon="@drawable/mind"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MarketStartActivity" />
        <activity android:name=".FinishActivity" />
        <activity android:name=".HouseHintActivity" />
        <activity android:name=".HouseStartActivity" />
        <activity android:name=".HouseStorageActivity" />
        <activity android:name=".MarketListActivity" />
        <activity android:name=".MarketPurchaseActivity" />
        <activity android:name=".MarketPaymentActivity" />
    </application>

</manifest>